<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="projects" (click)="onTabClick($event, 'projects')" [class.disabled-tab]="!hasLicense && licenseChecked">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Proyectos</ion-label>
      <ion-icon *ngIf="!hasLicense && licenseChecked" name="lock-closed" class="lock-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="catastro" (click)="onTabClick($event, 'catastro')" [class.disabled-tab]="!hasLicense && licenseChecked">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>GeoVisor</ion-label>
      <ion-icon *ngIf="!hasLicense && licenseChecked" name="lock-closed" class="lock-icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Config</ion-label>
      <ion-badge *ngIf="pendingSync > 0" color="warning">{{ pendingSync }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
